.footer-section {
  height: 40vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .footer-text {
    font-size: 36px;
  }
  
  .footer-date {
    font-size: 14px;
  }
  
  .footer-section {
    min-height: 30vh;
    height: auto;
    padding: 40px 20px 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


