@font-face {
  font-family: 'typewriter';
  src: url('../assets/fonts/typewcond_regular.otf') format('opentype');
}
@font-face {
  font-family: 'typewriterbold';
  src: url('../assets/fonts/typewcond_bold.otf') format('opentype');
}

.header-container {
 height: 70vh;
 width: 100vw;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 margin-top: 0px;
 background-image: url('../assets/bluecurve.png');
 background-size: cover;
 background-position: bottom;
 background-repeat: no-repeat;
 position: relative;
 z-index: 2;
 border-top: 15px solid #216244;
 padding-bottom: 60px;
}

.couple-names-container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: auto;
    height: auto;
  z-index: 999;
  padding-top: 40px;
  padding-bottom: 60px;
}

.couple-names-image {
  width: auto;
  height: auto;
  max-width: 400px;
  display: block;
}


 .header-content {
  text-align: center;
  z-index: 1;
}
.event-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
  line-height: 1;
  font-family: 'typewriter';
  letter-spacing: 0px;
  font-size: 1.1rem;

}

.date-time,
.venue {
  font-family: 'typewriter';
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0px;
  color: #216244;
  text-transform: uppercase;
  margin: 0;
}

.header-section p,
.header-section strong {
  font-family: 'typewriter';
  font-weight: 400;
  color: #216244;
}


.navigation {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: none;
    padding: 50px 0;
    background-image: none;
 
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 50px;
  }
  
  .nav-link {
    background: transparent;
    border: none;
    font-family: 'typewriter';
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #216244;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  
  .nav-link:hover {
    opacity: 0.7;
  }
  

  
  

@media (max-width: 768px) {
  .header-container {
    height: 70vh;
    min-height: 500px;
    padding: 0px 0 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .navigation {
    padding: 0px 0 15px;
    order: 1;

  }
  
  .nav-links {
    gap: 25px;
    margin-top: 10px;
  }
  
  .nav-link {
    font-size: 11px;
    font-size: 1rem;

  }
  
  .couple-names-container {
    padding: 40px 0 20px;
    order: 2;
    flex-shrink: 0;
  }
  
  .couple-names-image {
    max-width: 80%;
  }
  
  .header-section {
    order: 3;
    padding: 0px 0;
    margin: 0;
    margin-top: auto;
    background: transparent;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 0;
  }

  .event-details {
    background: transparent;
    line-height: 1;
    margin-bottom: 15vh;
    margin-top: 0;
    padding: 0 20px;
    flex-shrink: 0;
  }
  
  .date-time,
  .venue {
    font-size: 1.1rem;
  }
  
  .wave-divider {
    display: none;
  }
}

@media (max-width: 480px) {
  .header-container {
    height: 65vh;
    min-height: 500px;
  }
  
  .couple-names-container {
    padding: 30px 0 15px;
  }
  
  .event-details {
    margin-bottom: 12vh;
  }
}

@media (max-width: 375px) {
  .header-container {
    height: 70vh;
    min-height: 550px;
  }
  
  .couple-names-container {
    padding: 35px 0 20px;
  }
  
  .event-details {
    margin-bottom: 15vh;
  }
}

