@font-face {
  font-family: 'typewriter';
  src: url('../assets/fonts/typewcond_regular.otf') format('opentype');
}
@font-face {
  font-family: 'typewriterbold';
  src: url('../assets/fonts/typewcond_bold.otf') format('opentype');
}
.travel-section {
  min-height: 40vh;
  width: 100%;
  margin: 0 auto;
  padding: 60px 150px 0px;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFEBE4;
}

.travel-content {
  max-width: 1000px;
  margin: 0 auto;
}

.section-title {
  font-family: 'typewriterbold';
    font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #216244;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
h2 {
    font-size: 1.5rem;
}

.travel-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
}

.travel-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0px;
  margin-bottom: 0px;
}
.section-title4 {
    font-size: 48px;
    font-weight: 500;
    color: #216244;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.travel-subtitle {
  font-family: 'typewriterbold';
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #216244;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.travel-text {
  font-family: 'typewriter';
  font-size: 1.1rem;
  line-height: 1.8;
  color: #216244;
  font-weight: 300;
  max-width: 325px;
  text-align: center;
  text-decoration: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
}

.travel-text p {
  margin-bottom: 18px;
}

.travel-text1 {
    line-height: 1.8;
    text-decoration: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
}

.travel-text1 p {
  text-decoration: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
}

.taxi-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 0px;
  align-items: center;

}

.taxi-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.taxi-name {
  font-family: 'typewriter';
  font-size: 1.1rem;
  font-weight: 200;
  color: #216244;
  text-transform: uppercase;
  
}

.taxi-number {
  font-family: 'typewriter';
  font-size: 1.1rem;
  font-weight: lighter;
  color: #216244;
  font-weight: 200;
  text-decoration: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
}

.wave-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.wave-blue {
  background-color: #e8f4f8;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    95% 90%,
    90% 100%,
    85% 90%,
    80% 100%,
    75% 90%,
    70% 100%,
    65% 90%,
    60% 100%,
    55% 90%,
    50% 100%,
    45% 90%,
    40% 100%,
    35% 90%,
    30% 100%,
    25% 90%,
    20% 100%,
    15% 90%,
    10% 100%,
    5% 90%,
    0% 100%
  );
}

@media (max-width: 768px) {
  .travel-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  
  .section-title {
    font-size: 24px;
  }
  
  .travel-section {
    padding: 60px 20px 40px;
  }
  
  .taxi-item {
    flex-direction: row;
    
    gap: 10px;
  }
  .taxi-number {
    text-decoration: none !important;
    -webkit-text-decoration: none !important;
    -moz-text-decoration: none !important;
  }
  .travel-text1 {
    text-decoration: none !important;
    -webkit-text-decoration: none !important;
    -moz-text-decoration: none !important;
  }
  .travel-text1 p {
    text-decoration: none !important;
    -webkit-text-decoration: none !important;
    -moz-text-decoration: none !important;
  }

}