.App {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

@media (max-width: 768px) {
  .App {
    padding: 0;
    margin: 0;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}


